.register-box {
    width: 500px;
    margin: auto;
    margin-top: 40px;
}

.register-box h2 {
    text-align: center;
    margin-bottom: 25px;
}

.register-box input,
.register-box select {
    margin-bottom: 16px;
}

.image-preview {
    width: 120px;
    height: 120px;
    background: #dfe6e9;
    border-radius: 50%;
    margin: 0 auto 20px auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-preview img {
    width: 100%;
}
