.login-box {
    width: 400px;
    margin: 70px auto;
    background: #fff;
    padding: 35px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

.login-box h2 {
    text-align: center;
    margin-bottom: 25px;
}

.login-box input {
    margin-bottom: 20px;
}

.login-box button {
    margin-top: 15px;
}

.login-footer {
    margin-top: 20px;
    text-align: center;
}
