.cards-title {
    text-align: center;
    font-size: 28px;
    margin-bottom: 30px;
}

.user-cards {
    margin-top: 20px;
}

.card {
    transition: .3s;
}

.card:hover {
    transform: translateY(-5px);
}
